@charset "utf-8";
/* CSS Document */

.main-wrap {
	position: absolute;
	height: 100%;
	width: 100%;
	background: url(../images/bg_map.png) no-repeat;
	overflow: hidden;
}
/*-- Map wrap --*/
.map-wrap {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}
.light_wrap .icon_light {
	position: absolute;
	width: 23px;
	height: 25px;
	display: block;
	left: 50%;
}
.light_wrap .light_alert {
	background: url(../images/icon_alert.png) no-repeat center center;
}
.light_wrap .light_dim {
	background: url(../images/icon_dim.png) no-repeat center center;
}
.light_wrap .light_fused {
	background: url(../images/icon_fused.png) no-repeat center center;
}
.light_wrap .light_on {
	background: url(../images/icon_on.png) no-repeat center center;
}
.light_wrap .light_off {
	background: url(../images/icon_off.png) no-repeat center center;
}
#light1 {
	left: 50%;
	top: 50%;
	margin-left: -323px;
	margin-top: 92px;
}
#light2 {
	left: 50%;
	top: 50%;
	margin-left: -318px;
	margin-top: 18px;
}
#light3 {
	left: 50%;
	top: 50%;
	margin-left: -291px;
	margin-top: -43px;
}
#light4 {
	left: 50%;
	top: 50%;
	margin-left: -173px;
	margin-top: -97px;
}
#light5 {
	left: 50%;
	top: 50%;
	margin-left: 90px;
	margin-top: -89px;
}
#light6 {
	left: 50%;
	top: 50%;
	margin-left: 32px;
	margin-top: -173px;
}

#light7 {
	left: 50%;
	top: 50%;
	margin-left: -94px;
	margin-top: -127px;
}

#light8 {
	left: 50%;
	top: 50%;
	margin-left: 87px;
	margin-top: 35px;
}


#light9 {
	left: 50%;
	top: 50%;
	margin-left: 127px;
	margin-top: 120px;
}
#light10 {
	left: 50%;
	top: 50%;
	margin-left: 276px;
	margin-top: 132px;
}
#light11 {
	left: 50%;
	top: 50%;
	margin-left: 374px;
	margin-top: 186px;
}
#light12 {
	left: 50%;
	top: 50%;
	margin-left: 415px;
	margin-top: 96px;
}
#light13 {
	left: 50%;
	top: 50%;
	margin-left: 436px;
	margin-top: -2px;
}
#light14 {
	left: 50%;
	top: 50%;
	margin-left: 520px;
	margin-top: 2px;
}
#light15 {
	left: 50%;
	top: 50%;
	margin-left: 357px;
	margin-top: -10px;
}
#light16 {
	left: 50%;
	top: 50%;
	margin-left: 290px;
	margin-top: -14px;
}
#light17 {
	left: 50%;
	top: 50%;
	margin-left: 275px;
	margin-top: -77px;
}
#light18 {
	left: 50%;a
	top: 50%;
	margin-left: 220px;
	margin-top: -110px;
}
#light19 {
	left: 50%;
	top: 50%;
	margin-left: 220px;
	margin-top: 78px;
}

#light20 {
	left: 50%;
	top: 50%;
	margin-left: 2px;
	margin-top: 116px;
}

#light21 {
	left: 50%;
	top: 50%;
	margin-left: -185px;
	margin-top: 110px;
}


.tooltip {
	display: none;
}
.qtip {
	position: absolute;
	left: -28000px;
	top: -28000px;
	display: none;
	max-width: 380px;
	min-width: 100px;
	font-size: 10.5px;
	line-height: 12px;
	box-shadow: none;
	padding: 0;
}
.qtip-content {
	position: relative;
	padding: 5px 9px;
}
.qtip-focus {
}
.qtip-hover {
}
.qtip-default {
	border: 1px solid #D6D5D3;
	background-color: #FFF;
	color: #555;
	padding: 10px;
	-webkit-box-shadow: 2px 3px 5px 0px rgba(189,187,180,0.78);
	-moz-box-shadow: 2px 3px 5px 0px rgba(189,187,180,0.78);
	box-shadow: 2px 3px 5px 0px rgba(189,187,180,0.78);
}
.qtip .qtip-tip, .qtip .qtip-tip .qtip-vml, .qtip .qtip-tip canvas {
	position: absolute;
}
.tool-icon-wrap {
	display: block;
	height: 25px;
	margin-bottom: 5px;
	background: #C96;
	position: absolute;
	width: 25px;
	right: 0;
	top: 0;
}
.tooltip-table {
	margin-top: 5px;
}
.tooltip-table tr {
}
.tooltip-table tr td {
	color: #4F4F4F;
	font-size: 12px;
	padding: 5px;
	font-weight: 600;
}
.tooltip-table tr td.head {
	color: #A9A9A9;
	padding-right: 20px;
}
/*-- Menu section --*/
.menu-wrap {
	position: absolute;
	left: 0;
	top: 0;
	width: 60px;
	height: 100%;
	display: block;
	background: #0C1532;
	overflow: hidden;
	z-index: 1000;
}
.menulist {
}
.menulist li {
	display: block;
	height: 40px;
	border-bottom: 1px solid #161F3C;
	overflow: hidden;
}
.menulist .logo-sec {
	height: 50px;
	margin: 30px 0px 30px 0px;
	text-align: center;
	border: 0px;
}
.menulist li .menu {
	display: block;
	height: 40px;
	background: #F06;
	color: #B1BCDA;
	line-height: 40px;
	font-size: 14px;
	padding-left: 60px;
	background-position: 15px center !important;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.menulist li .menu.db {
	background: url(../images/1_dash.png) no-repeat;
}
.menulist li .menu.zone {
	background: url(../images/2_loc.png) no-repeat;
}
.menulist li .menu.mlc {
	background: url(../images/3_mlc.png) no-repeat;
}
.menulist li .menu.dps {
	background: url(../images/4_dps.png) no-repeat;
}
.menulist li .menu.sch {
	background: url(../images/5_scheduler.png) no-repeat;
}
.menulist li .menu.alarm {
	background: url(../images/6_alarm.png) no-repeat;
}
.menulist li .menu.dimpro {
	background: url(../images/7_profile.png) no-repeat;
}
.menulist li .menu.dev {
	background: url(../images/8_devicelife.png) no-repeat;
}
.menulist li .menu.report {
	background: url(../images/9_report.png) no-repeat;
}
.menulist li .menu.userpro {
	background: url(../images/10_userprofile.png) no-repeat;
}
.menulist li .menu.user {
	background: url(../images/11_user.png) no-repeat;
}
.menulist li .menu:hover {
	background-color: #070d20;
}
/*-- Admin section --*/
.admin-wrap {
	position: absolute;
	right: 30px;
	top: 30px;
	height: 30px;
	background: #FFF;
	padding: 5px 10px;
	z-index: 1000;
	border: 1px solid #DBDBD9;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(227,225,219,0.75);
	-moz-box-shadow: 0px 0px 5px 1px rgba(227,225,219,0.75);
	box-shadow: 0px 0px 5px 1px rgba(227,225,219,0.75);
}
.adminlist {
	height: 30px;
}
.adminlist li {
	float: left;
	margin-right: 10px;
	font-size: 14px;
	line-height: 30px;
}
.adminlist .noti {
	width: 30px;
	height: 30px;
	background: url(../images/icon-notify.png) no-repeat center bottom;
	display: block;
	position: relative;
}
.adminlist .noti span {
	font-size: 9px;
	background: url(../images/noti-circle.png) no-repeat center;
	position: absolute;
	width: 21px;
	height: 21px;
	right: -8px;
	top: -3px;
	text-align: center;
	line-height: 20px;
	color: #fff;
	font-weight: 300;
}
.adminlist .admin {
	font-weight: 600;
	color: #6D6D6D;
}
.adminlist .user {
	color: #A7A7A7;
	font-size: 13px;
	margin-right: 0px;
}
.adminlist .user .arrow {
	width: 12px;
	display: inline-block;
	height: 7px;
	background: url(../images/down-arrow.png) no-repeat center center;
}
/*-- Information section --*/
.info-wrap {
	position: absolute;
	right: 0px;
	top: 16%;
	width: 260px;
	padding: 15px 20px;
	height: 68%;
	background: #FFF;
	border-left: 10px solid #DEDEDE;
	z-index: 1000;
}
.info-inner-wrap {
	position: relative;
	overflow-y: auto;
	height: 100%;
}
.close {
	display: block;
	height: 25px;
	width: 25px;
	background: #CECECE;
	position: absolute;
	top: 0px;
	left: -35px;
	cursor: pointer;
	text-align: center;
	line-height: 25px;
	color: #9A9A9A;
}
.title-wrap {
	display: block;
	padding-bottom: 5px;
	border-bottom: 1px solid #E6E6E6;
	margin-bottom: 15px;
	height: 20px;
}
.title-wrap .title, .range-wrap .title, .desc-wrap .title {
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	color: #7A7A7A;
}
.title-wrap .title {
	float: left;
}
.range-wrap .title, .desc-wrap .title {
	margin-bottom: 5px;
}
.switch {
	float: right;
	width: 50px;
	height: 20px;
	display: block;
	background: #F30;
	cursor: pointer;
	position: relative;
	border-radius: 10px;
}
.red {
	background: #B6301E;
}
.green {
	background: #1EB348;
}
.switch .circle {
	position: absolute;
	width: 20px;
	height: 20px;
	display: block;
	background: url(../images/on-off.png) no-repeat 1px 1px;
}
.control-wrap {
	display: block;
	min-height: 150px;
	margin-bottom: 20px;
}
.control-wrap .row {
	display: block;
	height: 30px;
	margin-bottom: 5px;
	text-align: center;
}
.control-wrap .row2 {
	height: 90px;
}
.control-wrap .row .control-icon {
	width: 25px;
	height: 27px;
	display: inline-block;
}
.control-wrap .row .control-icon a {
	display: block;
	height: 27px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.control-wrap .bright {
	background: url(../images/bright-unsel.png) no-repeat center center;
}
.control-wrap .row .info {
	background: url(../images/info-unsel.png) no-repeat center center;
}
.control-wrap .row .energy {
	background: url(../images/energy-unsel.png) no-repeat center center;
}
.control-wrap .row .setting {
	background: url(../images/settings-unsel.png) no-repeat center center;
}
.control-wrap .row .bright:hover, .select .bright {
	background: url(../images/bright-sel.png) no-repeat center center !important;
}
.control-wrap .row .info:hover, .select .info {
	background: url(../images/info-sel.png) no-repeat center center !important;
}
.control-wrap .row .energy:hover, .select .energy {
	background: url(../images/energy-sel.png) no-repeat center center !important;
}
.control-wrap .row .setting:hover, .select .setting {
	background: url(../images/settings-sel.png) no-repeat center center !important;
}
.control-wrap .row2 .col {
	width: 30px;
	height: 90px;
	display: inline-block;
	margin-right: 5px;
	vertical-align: top;
}
.control-wrap .row2 .col_2 {
	width: 90px;
	position: relative;
}
.turn_arrow {
	width: 90px;
	height: 90px;
	left: 50%;
	margin-left: -45px;
	display: block;
	position: absolute;
	background: url(../images/tunner.png) no-repeat center center;
}
.control-wrap .row2 .col_1 .control-icon, .control-wrap .row2 .col_3 .control-icon {
	margin-top: 30px;
}
/*-- --*/
.range-wrap {
	display: block;
	height: 80px;
	margin-bottom: 20px;
}
.slider-wrap {
	display: block;
	height: 50px;
}
.val-row {
	display: block;
	height: 20px;
}
.slider-wrap .range-val {
	float: left;
	font-size: 11px;
	color: #B5B5B5;
	display: block;
	margin-right: 10px;
}
.slider-wrap .val_start {
	float: left;
	margin-left: 5px;
}
.slider-wrap .val_end {
	float: right;
}
.slider {
	width: 90%;
	float: left;
	margin: 0;
	display: block;
}
.slider > .dragger {
	background: #686868;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 12px;
	height: 12px;
	border: 3px solid #878787;
}
.slider > .dragger:hover {
}
.slider > .track, .slider > .highlight-track {
	background: #BABABA;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	height: 2px;
}
.slider > .highlight-track {
	background-color: #BABABA;
}
/*-- --*/
.desc-wrap {
	display: block;
	min-height: 80px;
	margin-bottom: 20px;
}
.desc-wrap .desc {
	display: block;
	color: #909090;
	font-size: 13px;
	font-weight: 300;
	margin-bottom: 10px;
}
.desc-table {
}
.desc-table tr {
}
.desc-table tr td {
	font-size: 13px;
	color: #737373;
	font-weight: 600;
	padding-bottom: 3px;
}
.desc-table tr td.title_col {
	font-size: 13px;
	text-transform: none;
	color: #A3A3A3;
	font-weight: 400;
}
/*-- Footer section --*/
.footer-wrap {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	display: block;
	background: #090E21;
	z-index: 1000;
}
.footlist {
	display: block;
	height: 25px;
	margin-top: 13px;
	padding: 0px 15px;
}
.footlist li {
	float: left;
	color: #7D7D80;
	font-size: 14px;
	line-height: 25px;
	margin-right: 25px;
	padding-left: 28px;
	font-weight: 600;
}
.footlist .foot-title {
	text-transform: uppercase;
	font-weight: 600;
	color: #ABB6D4;
	font-size: 14px;
	margin-right: 30px;
	padding-left: 0px;
}
.footlist li.on {
	background: url(../images/legend_on.png) no-repeat left center;
}
.footlist li.dim {
	background: url(../images/legend_dim.png) no-repeat left center;
}
.footlist li.off {
	background: url(../images/legend_off.png) no-repeat left center;
}
.footlist li.alert {
	background: url(../images/legend_alert.png) no-repeat left center;
}
.footlist li.fused {
	background: url(../images/legend_fused.png) no-repeat left center;
}

/************************** Login Implementation ***************************/

.signinContainer {
	 padding-top: 20px;
    width: 406px;
    max-width: 406px;
    margin: 0 auto;
}

#signup {
    padding: 0px 25px 25px;
    background: #fff;
    box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: static;
}

#signup .header {
    margin-bottom: 20px;
}

#signup .header h3 {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

#signup .header p {
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 300;
}

#signup .sep {
    height: 1px;
    background: #e8e8e8;
    width: 406px;
    margin: 0px -25px;
}

#signup .inputs {
    margin-top: 25px;
}

#signup .inputs label {
    color: #8f8f8f;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 7px;
    display: block;
}

input::-webkit-input-placeholder {
    color:    #b5b5b5;
}

input:-moz-placeholder {
    color:    #b5b5b5;
}

#signup .inputs input[type=email], input[type=password] {
    background: #f5f5f5;
    font-size: 0.8rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 330px;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
}

#signup .inputs input[type=email]:focus, input[type=password]:focus {
    background: #fff;
    box-shadow: 0px 0px 0px 3px #fff38e, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
    outline: none;   
}

#signup .inputs .checkboxy {
    display: block;
    position: static;
    height: 25px;
    margin-top: 10px;
    clear: both;
}

#signup .inputs input[type=checkbox] {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}

#signup .inputs label.terms {
    float: left;
    font-size: 14px;
    font-style: italic;
}

#signup .inputs #submit {
    width: 100%;
    margin-top: 20px;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
        background: -moz-linear-gradient(
        top,
        #b9c5dd 0%,
        #a4b0cb);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#b9c5dd),
        to(#a4b0cb));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #737b8d;
    -moz-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow:
        0px 1px 3px rgba(000,000,000,0.3),
        0px 0px 0px rgba(255,255,255,0);
    display: table;
    position: static;
    clear: both;
}

#signup .inputs #submit:hover {
    background: -moz-linear-gradient(
        top,
        #a4b0cb 0%,
        #b9c5dd);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#a4b0cb),
        to(#b9c5dd));
}